In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
f = open('../test_files/test3.txt', 'r')
titles = f.readlines()
f.close()

In [3]:
f = open('../test_files/test5.txt', 'w')
for i in range(len(titles)):
    index = titles[i].index(":")
    f.write(titles[i][:index] + '\n')
f.close()

In [4]:
address = pd.read_csv('../named_entities/cbdb_entity_addresses.csv')

In [5]:
address.sample(3)

     addr_chn
6057      寧昌路
8519      臚濱府
2268    川北分巡道

In [6]:
offices = pd.read_csv('../named_entities/cbdb_entity_offices.csv')

In [7]:
offices.sample(3)

      office_name  dynasty_index
2606    掌司務廳印鑰員外郎           20.0
10451      督標前營外委           20.0
11469      職方司員外郎           19.0

In [8]:
f = open('../test_files/test5.txt', 'r')
target = f.readlines()
title = {}
for i in range(len(target)):
    target[i] = target[i].strip()
title['Title'] = target

In [9]:
df = pd.DataFrame(title)

In [10]:
df['address_first2'] = 0
df['address_last2'] = 0
df['office_first2'] = 0
df['office_last2'] = 0

In [11]:
for i in tqdm(range(len(target))):
    for j in df.index:
        if target[i][:2] == address['addr_chn'][j][:2]:
            df['address_first2'][i] = 1
            break
        if target[i][-2:] == address['addr_chn'][j][-2:]:
            df['address_last2'][i] = 1
            break

  0%|          | 0/8121 [00:00<?, ?it/s]/usr/remote/anaconda-3.7-deeplearn/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
  1%|          | 67/8121 [00:03<07:50, 17.11it/s]/usr/remote/anaconda-3.7-deeplearn/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
100%|██████████| 8121/8121 [07:23<00:00, 18.33it/s]

In [12]:
df

            Title  address_first2  address_last2  office_first2  office_last2
0      南徐州刺史桂阳王休范               1              0              0             0
1     侍卫亲军马军都指挥使曹               0              0              0             0
2     试贤良方正能直言极谏科               0              0              0             0
3      南徐州刺史彭城王义康               1              0              0             0
4     侍卫马军都指挥使李继隆               0              0              0             0
...           ...             ...            ...            ...           ...
8116         涿州留守               0              1              0             0
8117         耸动天下               0              0              0             0
8118         郎王扬英               0              0              0             0
8119         晋安郡王               0              0              0             0
8120         时汤思退               0              0              0             0

[8121 rows x 5 columns]

In [13]:
for i in tqdm(range(len(target))):
    for j in df.index:
        if target[i][:2] == offices['office_name'][j][:2]:
            df['office_first2'][i] = 1
            break
        if target[i][-2:] == offices['office_name'][j][-2:]:
            df['office_last2'][i] = 1
            break

  1%|          | 48/8121 [00:02<08:10, 16.46it/s]/usr/remote/anaconda-3.7-deeplearn/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
  1%|          | 75/8121 [00:04<06:56, 19.32it/s]/usr/remote/anaconda-3.7-deeplearn/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
100%|██████████| 8121/8121 [06:32<00:00, 20.69it/s]

In [14]:
df

            Title  address_first2  address_last2  office_first2  office_last2
0      南徐州刺史桂阳王休范               1              0              0             0
1     侍卫亲军马军都指挥使曹               0              0              0             0
2     试贤良方正能直言极谏科               0              0              0             0
3      南徐州刺史彭城王义康               1              0              0             0
4     侍卫马军都指挥使李继隆               0              0              0             0
...           ...             ...            ...            ...           ...
8116         涿州留守               0              1              0             1
8117         耸动天下               0              0              0             0
8118         郎王扬英               0              0              0             0
8119         晋安郡王               0              0              0             1
8120         时汤思退               0              0              0             0

[8121 rows x 5 columns]

In [26]:
count = 0
for i in df.index:
    if ~(df['address_first2'][i].all()) & ~(df['address_last2'][i].all()) & ~(df['office_first2'][i].all()) & ~(df['office_last2'].all()):
        count += 1
count

6400

In [30]:
df.to_csv('../test_files/compare_extract.csv')

In [36]:
df = df[(df.sum(axis=1) != 0)]

In [37]:
df

           Title  address_first2  address_last2  office_first2  office_last2
0     南徐州刺史桂阳王休范               1              0              0             0
3     南徐州刺史彭城王义康               1              0              0             0
5     南徐州刺史建平王景素               1              0              0             0
21    南徐州刺史南谯王义宣               1              0              0             0
48    执中同中书门下平章事               0              0              0             1
...          ...             ...            ...            ...           ...
8095        中侍大夫               0              0              1             0
8096        韩世忠等               0              1              0             0
8100        饶州通判               0              0              0             1
8116        涿州留守               0              1              0             1
8119        晋安郡王               0              0              0             1

[2410 rows x 5 columns]

In [38]:
df.to_csv('../test_files/compare_extract_nozero.csv')